<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>RESTFood</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="RESTFood apps, submission for Dicoding front-end web developer expert class.">

    <link rel="icon" href="./images/ico/favicon-32x32.png" />
    <script src="https://kit.fontawesome.com/8dc7039ad3.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>
        <a href="#content" class="skip-link">Skip to Content</a>
        <nav id="drawer">
            <a href="index.html" class="drawer-title">RESTFood</a>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Favorite</a></li>
                <li><a href="#" target="_blank" rel="noopener">About Us</a>
                </li>
            </ul>
        </nav>
        <a id="hamburger" href="#"><i class="fa-solid fa-bars"></i></a>
        <!-- <a id="hamburger" href="#">☰</a> -->
        <a href="index.html" class="main-title">RESTFood</a>
    </header>

    <main>
        <section class="jumbotron">
            <h1 class="jumbotron-title">Welcome to RESTFood!</h1>
        </section>

        <article id="content">
            <h2>Explore Restaurant</h2>
            <article class="wrapper"></article>
        </article>
    </main>

    <footer>
        <p>Copyright © 2022 - RESTFood</p>
    </footer>

</body>

</html>